<div class="row">
  <div class="col-sm-4" id="projects_column">
    <h3>projects</h3>

    <%= render 'form' %>
     
    <% @projects.each do |item| %>
      <div class="col-xs-6 well-box">
        <%= link_to item, remote: true do %>
          <div class="well selected-<%= item.id %>">
            <p class="title"><%= item.title %></p>
            <div class="info">
              <p>tasks: 
                <span class="task-count-<%= item.id %>"><%=item.tasks.count%></span></p>
              <p>in progress:</p>
              <p>completed:</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4" id="project_column">
    <div id="project_details">
      <%= link_to '+Category', new_category_path, class: "pull-right" %>
      <h3>Please, select a project.</3>
    </div>
  </div>
  <div class="col-sm-4" id="inprogress_column">
    <h3>in progress</h3>
    <ul id="sortable2">
      <li>
        <div class="task-box">
          <p>Drag your items here</p>
        </div>
      </li>
    </ul>
  </div>

</div>
