var myhtml = '<%= link_to "+Category", new_category_path, class: "pull-right" %> \
              <h3 id="project-title"> \
				        <%= @project.title%> \
				        (<span class="task-count-<%= @project.id %>"><%= @project.tasks.count %></span>) \
			        </h3> \
              <%= j render partial: "form2" %> \
              <div> \
                <p>Filter by: Most recent Category Flag Priority </p> \
              </div> \
              <div id="project_details"> \
              <ul id="sortable1"> \
                <% @project.tasks.each do |task|%> \
                  <li id="<%= @project.id %>-<%= task.id %>"> \
                    <div class="task-box input-group"> \
                      <p><%= task.title %> \
                        <%= link_to project_task_path(@project.id, task.id), :method => :delete, remote: true do %> \
                          <i class="fa fa-trash-o"></i> \
                        <% end %> \
                        <%= link_to [:edit, @project, task] do %> \
                          <i class="fa fa-eraser"></i> \
                        <% end %> \
                      </p> \
                      <span class="input-group-btn"> \
                        <button class="btn btn-default" type="button" > \
                          <i class="fa fa-caret-down"></i> \
                        </button> \
                      </span> \
                    </div> \
                    <% unless task.description.nil? %> \
                      <div class="get-hidden"> \
                        <%= j collection_select(task, :category_id, Category.all, :id, :title) %> \
                        <p><%= task.description %></p> \
                        <% task.categories.each do |category|%> \
                          <p><%= category.title %></p> \
                        <% end %> \
                      </div> \
                    <% end %> \
                  </li> \
                <% end %> \
              </ul> \
              </div>';

$('#project_details').html(myhtml);
$('.selected-project').removeClass('selected-project');
$('.selected-<%= @project.id %>').addClass('selected-project');

$('button').click(function() {
  if ($(this).parent().parent().next().hasClass('get-hidden')) {

    $(this).parent().parent().next().slideToggle('fast');

    if ($(this).find('i').hasClass('fa-caret-down')) {
      $(this).find('i').removeClass('fa-caret-down').addClass('fa-caret-up');
    } else if ($(this).find('i').hasClass('fa-caret-up')) {
      $(this).find('i').removeClass('fa-caret-up').addClass('fa-caret-down');
    } 
  }
 
});
$( "#sortable2" ).droppable({
  drop: function() {
    $( "#sortable2 li" ).addClass('inprogress'); 
  }
});

$( "#sortable1" ).sortable({ connectWith: "#sortable2" });
$( "#sortable2" ).sortable({ connectWith: "#sortable1" });




